.projects--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5rem 1rem;
  /* gap: 1rem; */
  row-gap: 4rem;
  /* column-gap: 5px; */
  column-gap: 10px;
}

@media screen and (max-width: 1024px) {
  .projects--container {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 481px) {
  .projects--container {
    padding: 1rem 1rem;
  }
}