.menu--container {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  gap: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  /* background-color: aqua; */
}

.menu--title-wrapper {
  width: 110px;
  height: 130px;
  background-color: #fff;
  padding: 5px;
}

.menu--title {
  font-size: 1.5rem;
  hyphens: auto;
  /* word-break: break-word; */
  word-wrap: break-word;
}

.menu--occupation {
  color: var(--blue);
  /* color: #fff; */
  padding: 0.5rem;
  border-bottom: solid 3px var(--blue);
  white-space: nowrap
}

.menu--links-nav-ocuppation-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* background-color: orange; */
  /* height: 100%; */
  align-content: space-evenly;
  gap: 1.2rem;
}

.menu--links-nav-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.info-logo {
  width: 300px;
}

.icon {
  color: #fff;
  font-size: 2rem;
}

.icon:hover {
  color: var(--blue);
}

.icons-container {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .menu--container {
    flex-direction: column;
    transform: translate(-50%, -50%);
    /* background-color: red; */
    gap: 0.7rem;
  }

  .menu--links-nav-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .menu--occupation {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .icons-container {
    margin-top: 0.8rem;
    gap: 2rem;
  }

  .icon {
    color: #fff;
    font-size: 3rem;
  }
}