@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;600;700;800&display=swap');

:root {
  --blue: #00DDFA;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
}

a {
  all: unset
}

a:hover,
.icon:hover {
  cursor: pointer;
}